### Шаг 1. Обзор данных

In [1]:
# импорт библиотеки pandas
import pandas as pd

In [3]:
statistics.head(10) 
# получение первых 10 строк таблицы statistics

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи

In [4]:
statistics.info() 
# получение общей информации о данных в таблице statistics

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

**Итак, в таблице двенадцать столбцов.**

Тип данных в столбцах разный

В названиях колонок нарушения стиля не обнаружены

**Выводы**

В каждой строке таблицы — данные о клиентах банка. 

Часть колонок описывает социальную жизнь клиента: количество детей, возраст, уровень образования, трудовой стаж, семейное положение. 

Остальные данные рассказывают о клиенте, как о пользователе услуг банка: имел ли задолженность по возврату кредитов, цель получения кредита.

Предварительно можно утверждать, что, данных достаточно для проверки гипотез. 

Но количество значений в столбцах days_employed и total_income меньше. Значит, в данных есть пропущенные значения.

В колонке days_employed есть как отрицательные, так и положительные значения. Так же является странным, что трудовой стаж в днях указан как вещественное число.

Но, предварительно, эти данные для анализа нам не нужны.

Доход total_income так же указан как вещественное число - имеет смысл перевести в целое (int)

Чтобы двигаться дальше, нужно устранить проблемы в данных.

### Шаг 2.1 Заполнение пропусков

In [5]:
statistics.isna().sum() 
# посчитаем все пропуски в таблице

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [6]:
statistics[statistics['days_employed'].isna()].head() 
# найдем строки с пропусками в столбце days_employed
# посмотрим первые 5 строк

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
26,0,NaN,41,среднее,1,женат / замужем,0,M,госслужащий,0,NaN,образование
29,0,NaN,63,среднее,1,Не женат / не замужем,4,F,пенсионер,0,NaN,строительство жилой недвижимости
41,0,NaN,50,среднее,1,женат / замужем,0,F,госслужащий,0,NaN,сделка с подержанным автомобилем
55,0,NaN,54,среднее,1,гражданский брак,1,F,пенсионер,1,NaN,сыграть свадьбу

In [7]:
len(statistics[statistics['days_employed'].isna()]) / len(statistics['days_employed']) * 100
# посчитаем долю пропущенных значений в столбце с пропусками

10.099883855981417

По таблице видно, что вместо пропущенных значений в столбцах days_employed и total_income  - NaN. 

Доля пропущенных значений составляет 10%.

Данные пропуски могли возникнуть по нескольким причинам:
- клиент не указал о себе сведения
- клиент, обративщийся в банк за кредитом не имел еще опыта трудовой деятельности или работает неофициально
- система дала сбой

Что бы пропуски в количественных переменных в дальнейшем имели минимальное влияние на ход исследования заменим их на медианное значение. 

Для этого вначале заменим значения в столбцах на абсолютные и найдем медианное значение для каждого столбца.

In [8]:
statistics['days_employed'] = abs(statistics['days_employed'])
#заменим значения в столбце days_employed на абсолютные
statistics['total_income'] = abs(statistics['total_income'])
#заменим значения в столбце total_income на абсолютные
statistics.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу

In [9]:
statistics_days_employed = statistics['days_employed'].median() 
#найдем медиану для столбца days_employed
statistics_days_employed

2194.220566878695

In [10]:
statistics_total_income = statistics['total_income'].median()
#найдем медиану для столбца total_income
statistics_total_income

145017.93753253992

In [11]:
statistics['days_employed'] = statistics['days_employed'].fillna(statistics_days_employed)
# заменим пропущенные значения в столбце days_employed на медианное значение
statistics['total_income'] = statistics['total_income'].fillna(statistics_total_income)
# заменим пропущенные значения в столбце total_income на медианное значение
statistics.info()
# проверим, что пропусков в таблице больше нет

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     21525 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

### Шаг 2.2 Проверка данных на аномалии и исправления.

Пропуски в данных устранены, отрицательные значения в данных столбцах days_employed и total_income заменены на абсолютные.

Так как в данных могут встречаться различные аномалии, необходимо их вычислить и исправить.

In [12]:
statistics['children'].value_counts()
# узнаем какие уникальные значения встречаются в колонке children и количесвтво их упоминаний

 0     14149
 1      4818
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64

В столбце children содержится значение 20 и -1, хотя отрицательного числа быть не может - заменим его на абсолютное. И 20 сильно выделяется на фоне остальной выборки. Возможно это действительно многодетные семьи, а возможно опечатка. Сложно сказать наверняка, потому что подобных опечаток на других данных нет. Их количество не так много, поэтому оставлю этот факт без изменения.

In [13]:
statistics['children'] = abs(statistics['children']) 
#заменим значения в столбце children на абсолютные
statistics['children'].value_counts()
# проверим что артефакты в столбце children отсутствуют

0     14149
1      4865
2      2055
3       330
20       76
4        41
5         9
Name: children, dtype: int64

In [14]:
statistics['family_status'].value_counts()
# узнаем какие уникальные значения встречаются в колонке family_status и количество их упоминаний

женат / замужем          12380
гражданский брак          4177
Не женат / не замужем     2813
в разводе                 1195
вдовец / вдова             960
Name: family_status, dtype: int64

**В колонке family_status аномальных значений не обнаружено**

In [15]:
statistics['debt'].value_counts()
# узнаем какие уникальные значения встречаются в колонке debt и количество их упоминаний

0    19784
1     1741
Name: debt, dtype: int64

**0 - нет просрочки, 1 - была просрочка в столбце debt**

In [16]:
statistics['dob_years'].sort_values().unique()
# узнаем какие уникальные значения встречаются в колонке dob_years

array([ 0, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75], dtype=int64)

**В столбце dob_years(возраст клиента) встречаются значения равные 0**

Скорее всего возраст клиента не был указан, поэтому разработчиками он был указан как 0. В нашем случае вопросов касательно возраста нет, поэтому этот факт никак не повлияет на наше исследование. Оставляю как есть.

In [17]:
statistics['education'].value_counts()
# узнаем какие уникальные значения встречаются в колонке education и количество их упоминаний

среднее                13750
высшее                  4718
СРЕДНЕЕ                  772
Среднее                  711
неоконченное высшее      668
ВЫСШЕЕ                   274
Высшее                   268
начальное                250
Неоконченное высшее       47
НЕОКОНЧЕННОЕ ВЫСШЕЕ       29
НАЧАЛЬНОЕ                 17
Начальное                 15
ученая степень             4
Ученая степень             1
УЧЕНАЯ СТЕПЕНЬ             1
Name: education, dtype: int64

В столбце education встречаются одни и те же значения, записанные с использованием заглавных и строчных букв.

Приведем значения к одному регистру с помощью метода str.lower()

In [18]:
statistics['education'] = statistics['education'].str.lower()
# приведем к нижнему регистру данные в столбце education
statistics['education'].value_counts()
# проверим данные в столбце education

среднее                15233
высшее                  5260
неоконченное высшее      744
начальное                282
ученая степень             6
Name: education, dtype: int64

In [19]:
statistics['gender'].value_counts()
# узнаем какие уникальные значения встречаются в колонке gender и количество их упоминаний

F      14236
M       7288
XNA        1
Name: gender, dtype: int64

в столбце gender один раз встречается неизвестная аббревиатура XNA.  В нашем случае вопросов касательно пола нет, поэтому этот факт никак не повлияет на наше исследование. Оставляю как есть.

In [20]:
statistics['income_type'].value_counts()
# узнаем какие уникальные значения встречаются в колонке income_type и количество их упоминаний

сотрудник          11119
компаньон           5085
пенсионер           3856
госслужащий         1459
безработный            2
предприниматель        2
студент                1
в декрете              1
Name: income_type, dtype: int64

В столбце income_type никаких аномалий не обнаружено

In [21]:
statistics['purpose'].value_counts()
# узнаем какие уникальные значения встречаются в колонке purpose и количество их упоминаний

свадьба                                   797
на проведение свадьбы                     777
сыграть свадьбу                           774
операции с недвижимостью                  676
покупка коммерческой недвижимости         664
покупка жилья для сдачи                   653
операции с жильем                         653
операции с коммерческой недвижимостью     651
покупка жилья                             647
жилье                                     647
покупка жилья для семьи                   641
строительство собственной недвижимости    635
недвижимость                              634
операции со своей недвижимостью           630
строительство жилой недвижимости          626
покупка недвижимости                      624
строительство недвижимости                620
покупка своего жилья                      620
ремонт жилью                              612
покупка жилой недвижимости                607
на покупку своего автомобиля              505
заняться высшим образованием              496
автомобиль                                495
сделка с подержанным автомобилем          489
свой автомобиль                           480
на покупку подержанного автомобиля        479
автомобили                                478
на покупку автомобиля                     472
дополнительное образование                462
приобретение автомобиля                   462
сделка с автомобилем                      455
высшее образование                        453
образование                               447
получение дополнительного образования     447
получение образования                     443
профильное образование                    436
получение высшего образования             426
заняться образованием                     412
Name: purpose, dtype: int64

В столбце purpose встречаются значения с похожим смыслом, категаризацией их займемся позже.

### Шаг 2.3. Изменение типов данных.

In [22]:
statistics['total_income'] = statistics['total_income'].astype('int') 
# заменим тип float на int в столбце total_income
statistics['days_employed'] = statistics['days_employed'].astype('int')
# заменим тип float на int в столбце days_employed
statistics.head()
# выведем 5 первых строк датафрейма на экран

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья
1,1,4024,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля
2,0,5623,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья
3,3,4124,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование
4,0,340266,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу

### Шаг 2.4. Удаление дубликатов.

In [23]:
statistics.duplicated().sum()
# посчитаем количество явных дубликатов

71

In [24]:
statistics = statistics.drop_duplicates().reset_index(drop=True)
# удалим явные дубликаты и поправим индексацию
statistics.duplicated().sum()

0

Итак, были проверены все столбцы, устранены аномалии, которые могут повлиять на ход исследования и устренены дубликаты.

Дубликаты могли появиться по нескольким причинам:
- внесение в датафрейм повторных данных
- если клиент несколько раз обращался за кредитом в данный банк 
- системная ошибка

### Шаг 2.5. Формирование дополнительных датафреймов словарей, декомпозиция исходного датафрейма.

**Я честно не поняла для чего это надо было сделать. Если только для общего сведения**

In [25]:
stat_education = statistics[['education','education_id']]
# создадим новый датафрейм со столбцами education, education_id
stat_education = stat_education.drop_duplicates().reset_index(drop=True)
# удалим из этого списка повторы
stat_education.head()

             education  education_id
0               высшее             0
1              среднее             1
2  неоконченное высшее             2
3            начальное             3
4       ученая степень             4

In [26]:
stat_family = statistics[['family_status','family_status_id']]
# создадим новый датафрейм со столбцами family_status,family_status_id
stat_family = stat_family.drop_duplicates().reset_index(drop=True)
# удалим из этого списка повторы
stat_family.head()

           family_status  family_status_id
0        женат / замужем                 0
1       гражданский брак                 1
2         вдовец / вдова                 2
3              в разводе                 3
4  Не женат / не замужем                 4

In [27]:
del statistics['education']
# удалим из исходного датафрейма столбец education
del statistics['family_status']
# удалим из исходного датафрейма столбец family_status
#посмотрим, остались ли столбцы
statistics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21454 entries, 0 to 21453
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21454 non-null  int64
 1   days_employed     21454 non-null  int32
 2   dob_years         21454 non-null  int64
 3   education_id      21454 non-null  int64
 4   family_status_id  21454 non-null  int64
 5   gender            21454 non-null  object
 6   income_type       21454 non-null  object
 7   debt              21454 non-null  int64
 8   total_income      21454 non-null  int32
 9   purpose           21454 non-null  object
dtypes: int32(2), int64(5), object(3)
memory usage: 1.5+ MB

### Шаг 2.6. Категоризация дохода.

In [28]:
def total_income_group(income):
    if income <= 30000:
        return 'E'
    if income <= 50000:
        return 'D'
    if income <= 200000:
        return 'C'
    if income <= 1000000:
        return 'B'
    return 'A'
# создадим функцию, которая поделит столбец total_income на категории

In [29]:
statistics['total_income_group'] = statistics['total_income'].apply(total_income_group)
# добавим в датафрейм столбец с категориями

In [30]:
statistics.head()
# проверим работает ли функция как задуманно

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose,total_income_group
0,1,8437,42,0,0,F,сотрудник,0,253875,покупка жилья,B
1,1,4024,36,1,0,F,сотрудник,0,112080,приобретение автомобиля,C
2,0,5623,33,1,0,M,сотрудник,0,145885,покупка жилья,C
3,3,4124,32,1,0,M,сотрудник,0,267628,дополнительное образование,B
4,0,340266,53,1,1,F,пенсионер,0,158616,сыграть свадьбу,C

In [31]:
statistics['total_income_group'].value_counts()
# посмотрим как распределились доходы

C    16016
B     5041
D      350
A       25
E       22
Name: total_income_group, dtype: int64

Исходя из этой категоризации можно сказать, что за кредитом чаще всего обращаються люди со средним доходом(50001-200000)

### Шаг 2.7. Категоризация целей кредита.

In [32]:
statistics['purpose'].sort_values().unique()
# посмотрим уникальные названия в столбце purpose

array(['автомобили', 'автомобиль', 'высшее образование',
       'дополнительное образование', 'жилье',
       'заняться высшим образованием', 'заняться образованием',
       'на покупку автомобиля', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля', 'на проведение свадьбы',
       'недвижимость', 'образование', 'операции с жильем',
       'операции с коммерческой недвижимостью',
       'операции с недвижимостью', 'операции со своей недвижимостью',
       'покупка жилой недвижимости', 'покупка жилья',
       'покупка жилья для сдачи', 'покупка жилья для семьи',
       'покупка коммерческой недвижимости', 'покупка недвижимости',
       'покупка своего жилья', 'получение высшего образования',
       'получение дополнительного образования', 'получение образования',
       'приобретение автомобиля', 'профильное образование',
       'ремонт жилью', 'свадьба', 'свой автомобиль',
       'сделка с автомобилем', 'сделка с подержанным автомобилем',
       'строительство жилой недвижимости', 'строительство недвижимости',
       'строительство собственной недвижимости', 'сыграть свадьбу'],
      dtype=object)

In [33]:
# создам функцию для замены значений в столбце purpose
def purpose_category(wrong_category,correct_category):
    statistics['purpose'] = statistics['purpose'].replace(wrong_category,correct_category)

In [34]:
purpose_category(['автомобили', 'автомобиль','на покупку автомобиля', 'на покупку подержанного автомобиля',
                  'на покупку своего автомобиля','приобретение автомобиля','свой автомобиль','сделка с автомобилем',
                  'сделка с подержанным автомобилем'], 'операции с автомобилем')

In [35]:
purpose_category(['жилье','недвижимость','операции с жильем','операции с коммерческой недвижимостью',
       'операции с недвижимостью', 'операции со своей недвижимостью',
       'покупка жилой недвижимости', 'покупка жилья',
       'покупка жилья для сдачи', 'покупка жилья для семьи',
       'покупка коммерческой недвижимости', 'покупка недвижимости',
       'покупка своего жилья','ремонт жилью','строительство жилой недвижимости', 'строительство недвижимости',
       'строительство собственной недвижимости'], 'операции с недвижимостью')

In [36]:
statistics['purpose'].sort_values().unique()

array(['высшее образование', 'дополнительное образование',
       'заняться высшим образованием', 'заняться образованием',
       'на проведение свадьбы', 'образование', 'операции с автомобилем',
       'операции с недвижимостью', 'получение высшего образования',
       'получение дополнительного образования', 'получение образования',
       'профильное образование', 'свадьба', 'сыграть свадьбу'],
      dtype=object)

In [37]:
purpose_category(['на проведение свадьбы','свадьба', 'сыграть свадьбу'], 'проведение свадьбы')

In [38]:
statistics['purpose'].sort_values().unique()

array(['высшее образование', 'дополнительное образование',
       'заняться высшим образованием', 'заняться образованием',
       'образование', 'операции с автомобилем',
       'операции с недвижимостью', 'получение высшего образования',
       'получение дополнительного образования', 'получение образования',
       'проведение свадьбы', 'профильное образование'], dtype=object)

In [39]:
purpose_category(['высшее образование', 'дополнительное образование',
       'заняться высшим образованием', 'заняться образованием',
       'образование','получение высшего образования',
       'получение дополнительного образования', 'получение образования','профильное образование'], 'получение образования')

In [40]:
statistics['purpose'].value_counts()
# посчитаем сколько раз встречается та или иная категория

операции с недвижимостью    10811
операции с автомобилем       4306
получение образования        4013
проведение свадьбы           2324
Name: purpose, dtype: int64

In [41]:
statistics.head()

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose,total_income_group
0,1,8437,42,0,0,F,сотрудник,0,253875,операции с недвижимостью,B
1,1,4024,36,1,0,F,сотрудник,0,112080,операции с автомобилем,C
2,0,5623,33,1,0,M,сотрудник,0,145885,операции с недвижимостью,C
3,3,4124,32,1,0,M,сотрудник,0,267628,получение образования,B
4,0,340266,53,1,1,F,пенсионер,0,158616,проведение свадьбы,C

Исходя из этой категоризации можно сказать, что за кредитом чаще всего обращаються для проведения операций с недвижимостью.

### Шаг 2.8. Категоризация по количеству детей

In [42]:
# создам функцию для категоризации данных 
def children_category(children_count):
    if children_count == 1:
        return '1 ребенок'
    if children_count == 2:
        return '2 ребенка'
    if children_count >= 3:
        return 'Много детей'
    return 'Нет детей'

statistics['children_category'] = statistics['children'].apply(children_category) 
# использую метод apply() для создания столбца с подкатегориями

# проверим, что все ок
statistics['children_category'].value_counts()

Нет детей      14091
1 ребенок       4855
2 ребенка       2052
Много детей      456
Name: children_category, dtype: int64

Исходя из этой категоризации можно сказать, что за кредитом чаще всего обращаються люди без детей.

### Шаг 3. Ответы на вопросы

**Есть ли зависимость между наличием детей и возвратом кредита в срок?**

In [43]:
# создам функцию, которая даст мне ответы на все вопросы 
def gives_answers(pdSerises):
    return str(round((pdSerises.sum() / pdSerises.count()) * 100, 2)) + '%'

# построим сводную таблицу для ответа на вопрос
data_pivot = statistics.pivot_table(index=['children_category'], values=["debt"], aggfunc=['sum', 'count', gives_answers])
# сортируем, чтобы сразу видеть у кого ситуация лучше
data_pivot = data_pivot.sort_values(by=('gives_answers', 'debt'))
data_pivot

                    sum  count gives_answers
                   debt   debt          debt
children_category
Нет детей          1063  14091         7.54%
Много детей          39    456         8.55%
1 ребенок           445   4855         9.17%
2 ребенка           194   2052         9.45%

Можно сделать вывод, что у заемщиков у которых нет детей вероятность просрочки ниже.

**Есть ли зависимость между семейным положением и возвратом кредита в срок?**

In [44]:
# поскольку мы до этого удаляли из основных данных текстовые значения,вернем их обратно
stat_with_family_status = statistics.merge(stat_family, on='family_status_id', how='left')

# построим сводную таблицу для ответа на вопрос (по фрейму со значениями из словаря)
data_pivot = stat_with_family_status.pivot_table(index=['family_status'], values=['debt'], aggfunc=['sum', 'count', gives_answers])
# сортируем, чтобы сразу видеть у кого ситуация лучше
data_pivot = data_pivot.sort_values(by=('gives_answers', 'debt'))
data_pivot

                       sum  count gives_answers
                      debt   debt          debt
family_status
вдовец / вдова          63    959         6.57%
в разводе               85   1195         7.11%
женат / замужем        931  12339         7.55%
гражданский брак       388   4151         9.35%
Не женат / не замужем  274   2810         9.75%

Можно сделать вывод, что вдовцы и вдовы реже имеют прострочку по кредиту.

**Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

In [45]:
# построим сводную таблицу для ответа на вопрос
data_pivot =statistics.pivot_table(index=['total_income_group'], values=["debt"], aggfunc=['sum', 'count', gives_answers])
# сортируем, чтобы сразу видеть у кого ситуация лучше
data_pivot = data_pivot.sort_values(by=('gives_answers', 'debt'))
data_pivot

                     sum  count gives_answers
                    debt   debt          debt
total_income_group
D                     21    350          6.0%
B                    356   5041         7.06%
A                      2     25          8.0%
C                   1360  16016         8.49%
E                      2     22         9.09%

Можно сделать вывод, что меньше всего просрочек по кредитом у клиентов со средними доходами.

**Как разные цели кредита влияют на его возврат в срок?**

In [46]:
# построим сводную таблицу для ответа на вопрос
data_pivot = statistics.pivot_table(index=['purpose'], values=["debt"], aggfunc=['sum', 'count', gives_answers])
# сортируем, чтобы сразу видеть у кого ситуация лучше
data_pivot = data_pivot.sort_values(by=('gives_answers', 'debt'))
data_pivot

                          sum  count gives_answers
                         debt   debt          debt
purpose
операции с недвижимостью  782  10811         7.23%
проведение свадьбы        186   2324          8.0%
получение образования     370   4013         9.22%
операции с автомобилем    403   4306         9.36%

Можно сделать вывод, что когда клиент берет кредит на недвижимость риск просрочки меньше.

## Общий вывод:

Можно сделать вывод, что реже всего просрочка по кредиту возможна у вдовцов не имеющих детей с доходом от 30001 до 50000, взявший кредит на покупку недвижимости.

Чаще всего просрочка по кредиту возможна у клиентов с двумя детьми, которые не находяться в браке с доходами ниже 30000 и взявшие кредит на покупку автомобиля.

Однако, стоит заметить, что разница между значениями не такая большая - порядка 2 - 3%. Поэтому можно сказать, что наличие детей, семейное положение, уровень доходи и цели кредита не значительно влияет на риск возникновения задолжности клиента перед банком.